<html>
<head>
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="assets/styles/css/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/css/bootstrap-theme.css">
</head>
    <body>
<h1>Hello World</h1>

    </body>




<script src="assets/javascript/vendor/js/jquery-3.2.1.min.js"></script>
<script src="assets/javascript/vendor/js/angular.js"></script>
<script src="assets/javascript/vendor/js/angular-route.js"></script>
<script src="assets/javascript/vendor/js/angular-resource.js"></script>



<!-- Directives -->
<!-- Controller-->
<!-- Services -->
</html>